.images_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 30px;
    row-gap: 30px;
    grid-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
}


.card {
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.256);
    border-radius: 10px;
    width: 240px;
    height: fit-content;
    overflow: hidden;
    position: relative;
    margin: 20px;
    .avatar {
        height: 240px;
        width: 240px;
        object-fit: cover;
        border-radius: 10px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
    }
    h4{
        width: 100%;
        text-align: center;
        color: #000;

    }
}